:root{
--resaltado-verde: #2ca047;
--header-background: rgba(239, 239, 239, 85%);
--header-link-over: #36c758;
--verde-secundario: #2c7d3f;
--background-text: rgba(255, 255, 255, 10%);
--cv-separator: #00be23;
}

@media (prefers-reduced-motion: no-preference) {
    * {
    scroll-behavior: smooth;
    }
}

body{
    background: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 1.2rem; 
    color: white;
    margin: 0;
    padding: 0;
}

body::before {
    background-image: url("/img/sandstone.jpg");
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    opacity: 0.2;
    z-index: -1; /* Coloca la imagen detrás de otros elementos */
}

/* HEADER */
.header {
    background-color: var(--header-background);
    width: 80%;
    height: auto;
    min-height: 8%;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 8px 5px var(--verde-secundario);
    filter: opacity(60%);
    transition: 1s all ease-in;
}

.header > *:not(nav){
    opacity: 0.75;
}

.header:hover{
    background-color: white;
    filter: opacity(100%);
    transition: 1s all ease-out;
    top: 0px;
}

/* MENU HEADER */
nav > ul {
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
}

nav > ul > li {
    color: var(--verde-secundario);
    margin: 0 0.2rem;
    padding: 0.5rem;
    display: block;
}

nav > ul > li:hover {
    background-color: var(--header-link-over);
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

li > a {
    color: inherit;
    text-decoration: none;
}

#inicio {
    margin: 0px 10% 0px 10%;
    border-color: white;
    box-shadow: 0 2px 8px 3px white;
}

main {
    margin: 140px 10% 12% 10%;
}

/* INICIO */
.content {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    object-fit: cover; 
}

.text-inicio {
    flex: 1;
    padding: 0px 20px 0px 20px;
    margin: 0px 40px 40px 5px;
    border-radius: 10px;
    background-color: var(--background-text);
    align-self: flex-start;
    text-align: right;
    line-height: 1.7;
    /* box-shadow: 0 0 8px 2px #ffffff; */
}

h1 {
    font-size: 2.5em;
    margin-bottom: -0.8em;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 1.8em;
}

#resaltado-verde {
    color: var(--resaltado-verde);
}

#javifoto {
    max-width: 35%;
    border: 3px solid var(--verde-secundario);
    border-radius: 10px;
    /* box-shadow: 0 0 8px 2px white; */
    filter:saturate(70%);
    z-index: -1;
}

/* SEPARADOR SECCION*/
.separador {
    margin: 80px 0 80px 0;
    border-color: rgba(0, 0, 0, 0%);
    /* box-shadow: 0 1.5px 8px 1px white; */
}

.titulo-seccion {
    text-align: center;
    margin: 15px 0 20px 0;
    width: 100%;
}

.titulo-seccion > h2 {
    background-color: var(--background-text);
    border-radius: 10px;

}

/* CV */
.contenedor-trayectoria {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}

.trayectoria-left {
    width: 50%;
    border-right: 3px solid var(--cv-separator);
    height: 130px;
    box-sizing: border-box;
    text-align: right;
    padding-right: 20px;
    line-height: 1.4rem;
}

.trayectoria-right {
    width: 50%;
    padding-left: 20px;
    text-align: left;
    align-self: center;
    box-sizing: border-box;
    line-height: 1.4rem;
}

.trayectoria-left > p > a, .trayectoria-right > p > a {
    text-decoration: none;
    color:var(--cv-separator);
}

.enlaceCV {
    color:white;
    text-align: center;
    margin: 15px 0 20px 0;
    width: 100%;
    text-decoration: none;

}

.enlaceCV:hover {
    text-decoration: none;
    color: var(--resaltado-verde);
}

.contenedor-certificados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.contenedor-certificados > div {
    padding: 0 0px 0 20px;
}

.contenedor-certificados > div > a{
    text-decoration: none;
    color: var(--verde-secundario);
}

.imagen-certificados {
    width: 280px;
    height: 200px;
    border: 3px solid var(--verde-secundario);
    border-radius: 10px;
    transition: all 1s ease-out;
}

.imagen-certificados:hover {
    width: 290px;
    height: 210px;
    border: 3px solid white;
    box-shadow: 0 0 8px 5px white;
    transition: all 1s ease-out;
}

/* PORTFOLIO */
.contenedor-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0 0 3%;
    width: 100%;
}

.contenedor-portfolio > div {
    padding: 0 40px 0 0;
}

.contenedor-portfolio > div > a{
    text-decoration: none;
    color: var(--verde-secundario);
}

.imagen-portfolio {
    width: 250px;
    height: 250px;
    border: 3px solid var(--verde-secundario);
    border-radius: 10px;
    transition: all 1.5s ease-out;
    margin-left: 15px;
}

.imagen-portfolio:hover, .imagen-portfolio:active {
    width: 260px;
    height: 260px;
    border: 3px solid white;
    box-shadow: 0 0 8px 5px white;
}

#titulo-de-foto {
    font-size: 1.2em;
}

#pie-de-foto {
    font-size: 0.8em;
    margin: -1em 0 2.5em 0;
    max-width: 300px;
    text-align: left;
}

#pie-de-foto > a {
    text-decoration: none;
    color: var(--resaltado-verde);
}
#pie-de-foto > a:hover {
    text-decoration: none;
    color:white;
}

.txt-desplegable {
    font-size: 0.8em;
    margin: -1em 0 2.5em 0;
    max-width: 300px;
    text-align: left;
    height: 20px;
    overflow:hidden;
    transition: all 1s ease-out;
}

.txt-desplegable:hover, .txt-desplegable:active  {
    cursor:s-resize;    
    height: 260px;
}


/* CONTACTO */
.contenedor-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 80px auto;
}

.email-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 80%; 
}

.email-contacto > a {
    color: inherit;
    text-decoration: none;
}

.email-contacto > a:hover {
    color: var(--verde-secundario);
    text-decoration: none;
}

.email-simbolo {
    width: 55px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 40px;
    background-color: white;
    object-fit:scale-down;
    transition: 0.5s all ease-in;
}

.email-simbolo:hover {
    border: 3px solid var(--verde-secundario);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: 0.5s all ease-out;
}

.boton-email {
    border-radius: 10px;
    border: 3px solid var(--resaltado-verde);
    background-color: var(--header-background);
    width: auto;
    height: 35px;
    margin: 0 15px 0 0;
    transition: 0.5s all ease-in;
}

.boton-email:hover {
    background-color: #2ca047;
    cursor: pointer;
    width: auto;
    height: 45px;
    transition: 0.5s all ease-out;
}

/* SOBRE MI */
.contenedor-sobremi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 80px;
    width: 100%;
}

#foto-contacto {
    margin: 0 20px 130px 0;
    width: 300px;
    border: 3px solid var(--verde-secundario);
    border-radius: 10px;
}

.texto-sobremi {
    flex: 1;
    margin: 0 0 0 20px;
    background-color: var(--background-text);
    padding: 0px 20px 5px 20px;
    border-radius: 10px;
    align-self: flex-start;
    text-align: left;
    line-height: 1.7;
    font-size: 0.85em;
}

/* FOOTER */
.footer-contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    height: auto;
    margin: 0px 10% 0 10%;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    color: black;
    opacity: 0.75;
}

.footer-contenedor > *:not(.texto-footer){
    opacity: 0.75;
}

.texto-footer {
    font-size: 0.8em;
    text-align: center;
}

#footer {
    margin: 0px 10% 0px 10%;
    border-color: white;
    box-shadow: 0px -2px 8px 3px white;
}


/* AJUSTES PANTALLA MOVIL */
@media screen and (max-width:900px) {
    /* MENU HEADER */
    nav > ul {
        font-size: 0.95rem;
    }
    
    /* HEADER */
    .header{
        width: 90%;
        background-color: white;
        top: 0px;
        filter: opacity(100%);
    }

    #inicio {
        box-shadow: 0 5px 8px 1px white;
    }

    main {
        margin: 140px 4% 12% 4%;
    }

    /* INICIO */
    .content {
        flex-direction: column; 
        align-items: center;
    }

    .text-inicio {
        text-align:left; /* Alinea el texto a la izquierda */
        margin: 0px 5px 40px 5px;
        padding: 0px 15px 0px 15px;
    }

    h1 {
        font-size: 1.8em;
        margin-bottom: -0.8em;
        text-align: left;
    }
    
    h3 {
        font-size: 1.3em;
        margin-bottom: 2.5em;
        text-align: left;
    }
    #javifoto {
        margin-top: 0;
        max-width: 60%; 
    }
    /* CV */
    .contenedor-trayectoria {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 100%;
        font-size: 0.9em;
    }

    .contenedor-certificados{
        margin-top: -60px;
    }

    .imagen-certificados {
        margin-top: 40px;
    }

    /* PORTFOLIO */

    .contenedor-portfolio {
        margin: 40px 0 0 0;
    }

    .contenedor-portfolio > div {
        padding: 0 0 0 0;
        margin: 40px 0 0 0;
        text-align: center;
    }

    .trayectoria-left {
        line-height: 1.3rem;
    }
    
    .trayectoria-right {
        line-height: 1.3rem;
    }

    .imagen-portfolio {
        margin-left: -10px;
    }

    .txt-desplegable {
        height:fit-content;
    }

    .txt-desplegable:hover, .txt-desplegable:active  {   
        height:fit-content;
    }
    
    /* CONTACTO */
    .contenedor-contacto {
        flex-direction: column;
        width: 60%;
        margin: 80px auto;
    }

    .email-simbolo {
        width: 45px;
        height: 45px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: white;
        object-fit:scale-down;
    }

    /* SOBRE MI */
    .contenedor-sobremi {
        flex-direction: column;
        align-items: center;
    }

    #foto-contacto {
        margin: 0 0px 0px 0;
        max-width: 200px;
        z-index: -1;
    }

    .texto-sobremi {
        margin: 10px 0 130px 0px;
        padding: 0px 10px 0px 10px;
        align-self: center;
        line-height: 1.7;
        font-size: 0.85em;
    }

    .texto-footer {
        font-size: 0.7em;
    }
}